@import "../../styles/mixins";
@import "../../styles/colors";

.container {
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;

  @include tablet {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 28px;
  }

  .logo {
    height: 44px;
    width: 44px;
    background-color: $primary;
    border-radius: 50%;
  }

  .navBar {
    display: flex;
    gap: 48px;
    align-items: center;

    .navLink {
      font-size: 35px;
      @include mobile {
        display: none;
      }
    }
    .moreLink {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-light;
      height: 44px;
      width: 44px;
      border-radius: 50%;
    }
  }
}

.sidebarContainer {
  background-color: $primary;
  color: $white;
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  padding-left: 3rem;

  @include tablet {
    width: 60vw;
  }

  @include mobile {
    width: 100vw;
  }

  .sideNavs {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .links {
      font-size: 3.8rem;
      color: $white;
      text-decoration: none;

      @include tablet {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2.5rem;
      }
    }
  }
  .btnContainer {
    position: absolute;
    top: 2rem;
    right: 2rem;

    .moreLink {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-light;
      height: 44px;
      width: 44px;
      border-radius: 50%;
    }
  }
}
