@import "../../styles/mixins";
@import "../../styles/colors";

.container {
  margin: 6rem 0;

  .innerContainer {
    display: flex;
    flex-direction: row;

    @include tablet {
      flex-direction: column;
    }

    .leftContainer {
      background-image: url("../../../public/images/leftSection.png");
      background-repeat: no-repeat;
      background-position: center;
      // min-height: 700px;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 100%;
        background-color: red;
        background-image: none;
      }

      @include mobile {
        width: 100%;
        background-color: red;
        background-image: none;
      }

      .largeHeading {
        font-size: 6.1rem;
        color: $primary-text;
        text-transform: uppercase;
        margin: 2rem 0;
        font-weight: 700;

        @include tablet {
          font-size: 3.8rem;
        }
      }

      .desText {
        font-size: 2rem;
      }
    }
    .rightContainer {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .digitalMarketing {
        color: $primary-text;
        font-size: 3.5rem;

        @include tablet {
          margin: 0;
          font-size: 2rem;
        }
        @include mobile {
          margin: 0;
          font-size: 2rem;
        }
      }
      .btnContainer {
        width: 60%;
      }
    }
  }
}
