@import "../../styles/mixins";
@import "../../styles/colors";

.container {
  margin: 0 4.5rem;

  @include tablet {
    margin: 0 2.5rem;
  }

  @include mobile {
    margin: 0 1.75rem;
  }
  .heading {
    font-size: 6.1rem;
    color: $primary;
    font-weight: 689;
    margin: 0;

    @include tablet {
      font-size: 3.2rem;
    }
    @include mobile {
      font-size: 2.5rem;
    }
  }

  .card {
    margin: 5.6rem 0;
    border-radius: 18px;
    padding: 3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .quoteContainer {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .image {
        @include mobile {
          height: 126px;
          width: 126px;
        }
      }

      .quote {
        color: $primary;
        font-size: 3.8rem;
        margin: 0;

        @include tablet {
          font-size: 2.1rem;
        }
        @include mobile {
          font-size: 1.1rem;
          margin: 1rem 0;
        }
      }
    }

    .authorContainer {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      @include mobile {
        align-items: flex-start;
      }
      .name {
        font-size: 3rem;
        color: $primary;
        margin: 0;
        @include tablet {
          font-size: 2.1rem;
        }

        @include mobile {
          font-size: 1.1rem;
        }
      }
      .designation {
        margin: 0;
        font-size: 1.5rem;
        color: $red-text;

        @include tablet {
          font-size: 1.3rem;
        }

        @include mobile {
          font-size: 1.1rem;
        }
      }
    }
  }
}
